<div class="pagination-container">
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination ">
                {% if current_page > 1 %}
                    <li class="page-item"><a class="page-link" href="?page={{ current_page - 1 }}">&laquo;</a></li>
                {% endif %}

                {% for i in 1..total_pages %}
                    <li class="page-item {{ current_page == i ? 'active' : '' }}">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {% if current_page < total_pages %}
                    <li class="page-item"><a class="page-link" href="?page={{ current_page + 1 }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
